footer.pt-5
	.container
		.row
			.col-6.col-md-4
				h5 FULLSTACK VIETNAM
				ul.list-unstyled.text-small
					li
						span.text-muted Mobile: (+84) 969689893
					li
						span.text-muted Email: admin@fullstackvietnam.com
					li
						span.text-muted Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
			.col-6.col-md-4
					h5 LINKS
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") Khóa học FrontEnd Master
						li
							a.text-muted(href="#") Khóa học FullStack Developer
						li
							a.text-muted(href="#") Khóa học Design chuyên nghiệp
						li
							a.text-muted(href="#") Lịch khai giảng
						li
							a.text-muted(href="#") Đăng ký Khóa học
			.col-6.col-md-4
				P
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Khóa học FrontEnd Master
					li
						a.text-muted(href="#") Khóa học FullStack Developer
					li
						a.text-muted(href="#") Khóa học Design chuyên nghiệp
					li
						a.text-muted(href="#") Lịch khai giảng
					li
						a.text-muted(href="#") Đăng ký Khóa học
		.row.icon
			.col
				ul.list-inline
					li.list-inline-item 
						a(href="#") 
							i.fa.fa-twitter
					li.list-inline-item 
						a(href="#") 
							i.fa.fa-facebook
	.bot
		.container
			.row.pt-5
				.col-sm.col-md-8
					h5 Copyright 2018 by FullStack Vietnam
				.col-sm.col-md-4
					.form
						.mail
							input(type="search" placeholder="Email của bạn" aria-label="Search").form-control
							a(href="#")
									button(type="button") Gửi
